/*: root {
--orange: orange;
--white: #fff;
--black: black;
}*/

.header {
  //display: flex; // repetition of display: flex
  //display: flex; // this is odd
  display: flex;
  padding: 1rem 0.5rem;
  background-color: var(--orange); // this variable doesn't defined
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 3rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black); // this variable doesn't defined
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--white); // this variable doesn't defined
  }
}

.link {
  text-decoration: none;
}
